/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/* 
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;		
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

body {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2em;
	line-height: 1em;
	background-color: #E6F0E8;
	background-image: url("../img/mink-mingle.jpg");
	background-size: 100%;
}

/*	Generally, you will only want one container element in
	the document, wrapping around the main content area. 
	If you have more than one container, you are probably doing
	something wrong. 	
*/
.container {
	margin-top: 2em;
	margin-right: auto;
	margin-bottom: 2em;
	margin-left: auto;
	width: 90%;
	max-width: 1200px;
	padding: 3em;
	background-image: linear-gradient(to bottom right, rgba(230, 240, 232, 0.7), rgba(104, 165, 160, 0.7));
}

h1{
	font-family: 'Lobster', cursive;
	font-size: 3em;
	line-height: 1em;
	color: #68A5A0;
	margin: 1em;
	text-align: center;
}

a{
	color: #F0E0AF;
	text-decoration: none;
	font-size: 50px;
}
a:hover{
	color: #F0E0AF;
}

h2{
	color: #E5927B;
	text-align: center;
}




